$webfont: "Montserrat", sans-serif;

#SuccessCont {
  display: flex;
  justify-content: center;
  max-width: 350px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  @media (min-width: 768px) {
    max-width: 600px;
    padding: 20px 0;
  }
  @media (min-width: 992px) {
    max-width: 980px;
  }
  @media (min-width: 1440px) {
    max-width: 1240px;
  }
  #SuccessDesc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    .SuccTitle {
      h2 {
        font-family: $webfont;
        font-size: 17px;
        text-transform: uppercase;
        @media (min-width: 768px) {
          font-size: 30px;
        }
        @media (min-width: 992px) {
          font-size: 40px;
        }
      }
    }
    #Sdescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      padding: 20px;
      #simg {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        margin: 10px 0;
        margin: auto;
        @media (min-width: 992px) {
          position: relative;
        }
        @media (min-width: 1440px) {
          width: 1152px;
        }
        #simInner {
          img {
            width: 100%;
            max-width: 100%;
            z-index: 0;
          }
        }
        #Stext {
          z-index: 1;
          font-family: $webfont;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          @media (min-width: 992px) {
            position: absolute;
            bottom: 0;
            align-items: start;
            color: #fff;
            padding: 20px;
            background: rgb(0, 0, 0);
            background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 1) 0%,
              rgba(0, 0, 0, 0.34226190476190477) 75%,
              rgba(0, 0, 0, 0) 100%
            );
            text-align: start;
          }
          h4 {
            position: relative;
            &::before {
              content: "";
              display: block;
              position: absolute;
              bottom: -10px;
              background: #000;
              height: 3px;
              width: 80%;
              left: 0;
              right: 0;
              margin: auto;
              @media (min-width: 992px) {
                background: #fff;
                width: 100%;
              }
            }
          }
          h3 {
            font-size: 17px;
            padding: 5px;
          }
        }
      }
      #Sintro {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        font-family: $webfont;
        margin: 10px 0;
        @media (min-width: 992px) {
          flex-direction: row;
        }
        @media (min-width: 1440px) {
          margin: 50px 0;
        }
        #SiTitle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media (min-width: 992px) {
            width: 100%;
            padding: 20px;
          }
          #SitInner {
            h2 {
              text-align: center;
              @media (min-width: 768px) {
                font-size: 30px;
              }
              @media (min-width: 992px) {
                text-align: start;
              }
            }
          }
          #SiTxt {
            padding: 10px;
            h4 {
              font-weight: 600;
            }
          }
        }
        #SiImg {
          display: flex;
          justify-content: center;
          @media (min-width: 992px) {
            width: 100%;
            padding: 20px;
          }
          img {
            width: 100%;
            @media (min-width: 992px) {
              box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
      #Scollab {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        font-family: $webfont;
        margin: 10px 0;
        @media (min-width: 992px) {
          margin: 50px 0;
        }
        .ScolTitle {
          h2 {
            @media (min-width: 768px) {
              font-size: 30px;
            }
          }
        }
        .ScolTxt {
          h4 {
            font-weight: 600;
          }
        }
        .ScolCarrousel {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          @media (min-width: 992px) {
            flex-direction: row;
          }
          .ScolCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #ccd5dd;
            padding: 20px;
            margin: 10px 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            @media (min-width: 768px) {
              height: 480px;
            }
            @media (min-width: 992px) {
              width: 30%;
              margin: 0 10px;
              height: 550px;
            }
            .ScclImg {
              display: inline-block;
              position: relative;
              width: 200px;
              height: 200px;
              overflow: hidden;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
            .SccTitle {
              h2 {
                @media (min-width: 768px) {
                  font-size: 28px;
                }
              }
            }
            .SccTxt {
              padding: 5px;
              h4 {
                font-weight: 600;
              }
            }
            .SccBtn {
              width: 100%;
              position: absolute;
              bottom: 0;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: stretch;
              @media (min-width: 768px) {
                height: 60px;
              }

              a {
                background: #b4ebf5;
                width: 100%;
                text-decoration: none;
                color: #0d1563;
                text-transform: uppercase;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                @media (min-width: 768px) {
                  font-size: 20px;
                }
                @media (min-width: 992px) {
                  font-size: 16px;
                }
                span {
                  padding-right: 5px;
                }
                &:hover {
                  background: #0d1563;
                  color: #fff;
                }
              }
            }
            &:hover {
              .ScclImg {
                border-radius: 0%;
              }
            }
          }
        }
      }
      #Sdiscovery {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $webfont;
        @media (min-width: 992px) {
          margin: 50px 0;
        }
        .SdiscTitle {
          h2 {
            @media (min-width: 768px) {
              font-size: 30px;
            }
          }
        }
        .ScolTxt {
          padding: 10px 15px;
          border: 1px solid #474849;
          border-radius: 10px;
          @media (min-width: 992px) {
            border: none;
          }
          h4 {
            font-weight: 600;
          }
        }
        .ScolCarrousel {
          display: flex;
          flex-direction: column;
          box-sizing: border-box;
          @media (min-width: 992px) {
            flex-direction: row;
          }
          .ScolCard {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #474849;
            padding: 20px;
            margin: 10px 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            @media (min-width: 992px) {
              width: 30%;
              margin: 0 10px;
            }
            .ScclImg {
              display: inline-block;
              position: relative;
              width: 200px;
              height: 200px;
              overflow: hidden;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
              img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
                right: 0;
                margin: auto;
              }
            }
            .SccTitle {
            }
            .SccTxt {
              padding: 5px;
              h4 {
                font-weight: 600;
              }
            }
            .SccBtn {
              width: 100%;
              position: absolute;
              bottom: 0;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: stretch;

              a {
                background: #b4ebf5;
                width: 100%;
                text-decoration: none;
                color: #0d1563;
                text-transform: uppercase;
                font-weight: 700;
                transition: all 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                  padding-right: 5px;
                }
                &:hover {
                  background: #0d1563;
                  color: #fff;
                }
              }
            }
            &:first-of-type {
              .ScclImg {
                img {
                  object-position: left;
                }
              }
            }
            &:hover {
              .ScclImg {
                border-radius: 0;
              }
            }
          }
        }
      }
      #Sdifference {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        @media (min-width: 992px) {
          margin: 50px 0;
        }
        .SdiCard {
          display: flex;
          flex-direction: column-reverse;
          @media (min-width: 992px) {
            flex-direction: row;
          }
          .SdiVerb {
            @media (min-width: 992px) {
              width: 100%;
              padding: 20px;
            }
            .SdifTitle {
              font-family: $webfont;
              h4 {
                color: #177584;
                font-size: 14px;
              }
            }
            .SdiTxt {
              font-family: $webfont;
              h4 {
                font-weight: 600;
              }
            }
          }
          .SdiImg {
            display: flex;
            justify-content: center;
            @media (min-width: 992px) {
              width: 100%;
              padding: 20px;
            }
            .SdiImgInner {
              display: flex;
              justify-content: center;
              box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
              @media (min-width: 992px) {
                align-items: center;
                box-shadow: none;
              }
              img {
                width: 100%;
                max-width: 100%;
                @media (min-width: 992px) {
                  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                }
              }
            }
          }
          &:last-of-type {
            @media (min-width: 992px) {
              flex-direction: row-reverse;
            }
          }
        }
      }
      #Senvironment {
        display: flex;
        flex-direction: column;
        @media (min-width: 992px) {
          flex-direction: row;
        }
        #SeTitle {
          display: flex;
          flex-direction: column;
          h2 {
            font-family: $webfont;
          }
          #SiTxt {
            margin: auto;
            h4 {
              font-family: $webfont;
              font-weight: 600;
            }
          }
        }

        #SiImg {
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            max-width: 100%;
            @media (min-width: 992px) {
              box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
    }
  }
}
