@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

@import "@fortawesome/fontawesome-svg-core/styles.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$webfont: "Montserrat", sans-serif;
$webfont3: "Open Sans", sans-serif;
$webfont2: "Poppins", sans-serif;

.header {
  margin-bottom: 50px;
}

#aboutBanner {
  background: url(../../images/teacher.webp) no-repeat;
  background-size: cover;
}
.subTitleCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
  .subpageTitle {
    color: #000;
    font-size: 30px;
    font-family: $webfont;
    text-shadow: 4px 3px 0px #fff, 2px 2px 2px rgb(255, 255, 255);
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  .subpageSubT {
    color: #fff;
    font-size: 35px;
    font-family: $webfont2;
  }
}

#AbtCont {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  .abtInner {
    padding: 20px;
    width: 400px;
    .abtText {
      font-family: $webfont;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h2 {
        position: relative;
        &:before {
          content: "";
          display: block;
          position: absolute;
          bottom: -10px;
          background: #000;
          height: 3px;
          width: 100%;
        }
      }
    }
    .abtImg {
      box-sizing: border-box;
      display: flex;
      img {
        max-width: 100%;
      }
    }
  }
}
