#direcTitle{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frameCont, #secondVideo, #thirdVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

#secondText{
    color: #fff;
    ul{
        display: inline-block;
    }
}