#direcTitle{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

#frameCont, #secondVideo, #thirdVideo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    margin: 20px 0;
    iframe{
        @media(min-width: 1024px){
            width: 800px;
        }
    }
}

#secondVideo, #thirdVideo{
    
}

#secondText{
    color: #fff;
    @media(min-width: 1024px){
        width: 800px;
        margin: auto;
    }
    ul{
        display: inline-block;
        margin: 15px auto 0;
        li{
            list-style-type: circle;
            font-weight: 200;
            font-family: 'Poppins', sans-serif;
            span{
                font-weight: 500;              
            }
        }
    }
}