#directoraCont{
    padding: 20px;
    h2{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #imgCont{
            display: flex;
            justify-content: center;
            img{
                max-width: 50%;
            }
        }
        .textCont{
            box-sizing: border-box;
        }
    }
}