@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap");

@import "@fortawesome/fontawesome-svg-core/styles.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "screenSizes";

$webfont: "Montserrat", sans-serif;
$webfont3: "Open Sans", sans-serif;
$webfont2: "Poppins", sans-serif;

@font-face {
  font-family: "Rastegar";
  src: url("../../fonts/Rastegar.woff") format("woff"),
    /* Modern Browsers */ url("../../fonts/Rastegar.woff2") format("woff2"),
    /* Modern Browsers */ url("../../fonts/Rastegar.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: absolute;
  scroll-behavior: smooth;
  background: #fff;
}

main {
  margin: 0 auto;
  //max-width: $max-size;
  position: relative;
}

.webfont {
  font-family: $webfont;
}
.webfont2 {
  font-family: $webfont2;
}
.webfont3 {
  font-family: $webfont3;
}

#inicio {
}
#index {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.home-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 20px 0;
  max-width: 300px;
  @media (min-width: 768px) {
    max-width: 400px;
  }
  a {
    background: #fff;
    border: 1px solid #000;
    text-decoration: none;
    padding: 20px;
    color: #000;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    font-family: $webfont;
    letter-spacing: 3px;
    font-size: 26px;
    position: relative;
    z-index: 0;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      background: #000;
      height: 100%;
      width: 0%;
      transition: all 0.3s ease-in-out;
      z-index: -1;
      top: 0;
    }
    &:hover {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
  }
}

#iconsCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
  .iconInner {
    color: #fff;
  }
}

#navCont {
  font-family: $webfont;
  font-size: 24px;
  @media (min-width: 1024px) {
    font-size: 15px;
  }
}

#ToggleExample {
  color: #fff;
  font-family: $webfont;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.subTitleCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  .subpageTitle {
    color: #fff;
    font-size: 20px;
    font-family: $webfont;
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  .subpageSubT {
    color: #fff;
    font-size: 35px;
    font-family: $webfont2;
  }
}
