.VideoBg-module_wrapper__3FlD_ {
  background: #000;
  .VideoBg-module_video__2IPmN {
    @media (max-width: 768px) {
      display: block !important;
      width: 100% !important;
    }
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}
