#footerCont {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  #footerInner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    @media (min-width: 768px) {
      max-width: 500px;
    }
    @media (min-width: 992px) {
      max-width: 90%;
    }
    #footerTxt {
      width: 100%;
      p {
        color: #f4f4f4;
        font-size: 10px;
        @media (min-width: 768px) {
          font-size: 15px;
        }
      }
    }
    #footerImg {
      max-width: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        width: 100%;
        max-width: 60%;
        @media (min-width: 992px) {
          max-width: 150px;
        }
      }
    }
  }
}
