#ofertaCont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @media (min-width: 1800px) {
    max-width: 1700px;
    padding: 100px 40px;
  }
  #ofertaInner {
    @media (min-width: 1440px) {
      max-width: 1300px;
    }
    #ofertaTitle {
      padding: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      h2 {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #000;
        font-size: 25px;
        text-shadow: 4px 3px 0px #fff, 2px 2px 2px rgba(255, 255, 255, 255);
        text-transform: uppercase;
        @media (min-width: 768px) {
          font-size: 35px;
        }
        @media (min-width: 1440px) {
          font-size: 55px;
        }
      }
      #titleImg {
        display: flex;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        img {
          max-width: 100%;
        }
      }
    }
    #ofertaTextContent {
      @media (min-width: 768px) {
        padding-top: 40px;
      }
      h3 {
        &:first-of-type {
          text-align: center;
          @media (min-width: 768px) {
            font-size: 23px;
          }
          @media (min-width: 992px) {
            font-size: 30px;
          }
        }
      }
      #ofertaTextBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 992px) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        .OtxtInner {
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          border: 1px solid #000;
          padding: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0;
          transition: all 0.3s ease-in-out;
          @media (min-width: 768px) {
            margin: 20px 0;
          }
          @media (min-width: 992px) {
            width: 400px;
            padding: 20px;
            margin: 20px 10px;
          }
          h4 {
            font-weight: 400;
            strong {
              @media (min-width: 992px) {
                font-size: 20px;
              }
            }
          }
          &:hover {
            @media (min-width: 768px) {
              transform: translateY(-20px);
            }
          }
        }
      }
    }
    #ofertaContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (min-width: 992px) {
        padding: 20px;
      }
      @media (min-width: 1024px) {
        //width: 800px;
      }
      .textCont {
        box-sizing: border-box;
        color: #fff;
        padding: 20px;
        @media (min-width: 992px) {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .buttonDrowpdown {
          @media (min-width: 992px) {
            width: 450px;
          }
          @media (min-width: 1440px) {
            width: 600px;
          }
          .buttonInner {
            display: flex;
            flex-direction: column;
            align-items: center;

            button {
              background: #ffffffb3;
              width: 380px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.3s ease-in-out;
              @media (min-width: 768px) {
                margin: auto;
              }
              @media (min-width: 1440px) {
                width: 480px;
              }
              h4 {
                font-size: 22px;
                @media (min-width: 992px) {
                  font-size: 22px;
                }
                @media (min-width: 1440px) {
                  font-size: 20px;
                }
              }
              &:hover {
                transform: scale(1.1);
              }
            }
            .dropdown-list {
              transition: all 0.3s ease-in-out;
              height: 0px;
              opacity: 0;
              position: relative;
              z-index: -1;
              background: #fff;
              padding: 10px;
              border-radius: 15px;
              li {
                list-style: none;
                h2 {
                  color: #000;
                  @media (min-width: 1024px) {
                    font-size: 15px;
                  }
                  @media (min-width: 1440px) {
                    font-size: 20px;
                  }
                }
                h3 {
                  color: #000;
                  font-weight: 400;
                  @media (min-width: 1024px) {
                    font-size: 12px;
                  }
                  @media (min-width: 1440px) {
                    font-size: 17px;
                  }
                }
              }
              &.open {
                height: 100%;
                opacity: 1;
                display: block;
                transition: all 0.3s ease-in-out;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
