#ofertaCont {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: url(../../images/ofertabg.jpg) #88c3f5;
  #ofertaTitle {
    background: #ffffffb3;
    border-radius: 10px;
    padding: 5px;
    h2 {
      width: 100%;
      display: flex;
      justify-content: center;
      color: #000;
      font-size: 35px;
      text-shadow: 4px 3px 0px #fff, 2px 2px 2px rgba(255, 255, 255, 255);
      text-transform: uppercase;
    }
  }
  #ofertaContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
      width: 100%;
      padding: 20px;
    }
    @media (min-width: 1024px) {
      width: 800px;
    }
    .textCont {
      box-sizing: border-box;
      color: #fff;
      padding: 20px;
      .buttonDrowpdown {
        .buttonInner {
          button {
            background: #ffffffb3;
            width: 380px;
            display: flex;
            justify-content: center;
            align-items: center;
            h4 {
              font-size: 22px;
            }
          }
          .dropdown-list {
            transition: all 0.3s ease-in-out;
            height: 0px;
            opacity: 0;
            position: relative;
            z-index: -1;
            background: #fff;
            padding: 10px;
            border-radius: 15px;
            li {
              list-style: none;
              h2 {
                color: #000;
              }
              h3 {
                color: #000;
              }
            }
            &.open {
              height: 100%;
              opacity: 1;
              display: block;
              transition: all 0.3s ease-in-out;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
